@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	background-color: e2e2e2;
	font: normal 100%/1.4 Georgia, "Times New Roman", Times, serif;
}

.dino-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.dino-list li {
	float:left;
	width:: 25%;
}

.dino-list figure {
	magrin: 0;
	padding: 0;
}

.dino-list img {
	display: block;
	width: 100;
}